/* Configurações Gerais */

@import url('https://fonts.googleapis.com/css2?family=Patua+One&family=Poppins:wght@300;400;700&display=swap');

@keyframes backgroundColorLogo{
    0%{
        background:#6c7a89;
    }
    33%{
        background: #95a5a6;
    }
    66%{
        background: #2e3131;
    }
    100%{
        background: #000;
    }
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.row{
    display: flex;
    gap: 20px;
}

.col-50{
    display: flex;
    flex-direction: column;
    width:50%;
}

.col-33{
    display: flex;
    flex-direction: column;
    width: 33%;
}

.col-25{
    display: flex;
    flex-direction: column;
    width:25%;
}

input, select{
    transition: 0.3s ease-in-out;
    padding: 3px 12px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #bdc3c7;
}

input:focus, select:focus {
    background-color: rgb(182, 181, 181);
}

body{
    background: url("../img/bg.jpg") no-repeat fixed center;
    background-size: cover;
}

main{
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}    

.main-title{
    background-color: #efefef;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    padding:20px;
    margin:20px auto;
}

.main-title-ficha{
    background-color: #efefef;
    width: fit-content;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
    padding:20px;
    margin:20px 0;
}

.dados-personagem{
    display: flex;
    justify-content: space-around;
}

.atributos-pericias-habilidades{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-left: 10px;
}

.atributos-personagem{
    flex-basis: 8%;
    text-align: left;
}

.pericias-personagem{
    flex-basis: 25%;
}

.habilidades-personagem{
    flex-basis: 25%;
}

.img-personagem{
    flex-basis: 30%;
    padding-left: 20px;
}

.img-personagem img{
    height: 250px;
}

summary{
    list-style-type: '🔰';
    cursor: pointer;
}

/* MAIN HEADER */

.main-header{
    position: fixed;
    width: 100%;
    background-color: #efefef;
    color: #1e1e1e;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.main-header .logo{
    display: flex;
    align-items: center;
}

.main-header .logo-icon{
    display: flex;
    flex-flow: column;
    padding: 15px;
}

.main-header .logo-icon .bar{
    display:block;
    animation: backgroundColorLogo 10s infinite alternate;
    width: 30px;
    height: 10px;
    transform: rotate(-30deg);
    margin: 3px 0;
    transition: .3s ease-in-out all;
}

.main-header .menu{
    display: flex;
    list-style-type: none;
    gap:20px;    
}

.main-header .menu li{
    font-size: 15px;
}

.menu a{
    text-decoration: none;
    color: #1e1e1e;
    font-weight: bold;
}


/* Formulário */

.main-fieldset{
    margin-bottom: 20px;
    background-color: rgba(46, 49, 49, .7);
    color: #efefef;
    border: 0;
    display: flex;
    flex-flow: column;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 3px rgba(30,30,30,1);
}

.main-fieldset-ficha{
    margin-bottom: 20px;
    background-color: rgba(46, 49, 49, .7);
    color: #efefef;
    border: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    gap: 30px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 8px 3px rgba(30,30,30,1);
}

.main-fieldset-ficha .main-fieldset-ficha-title{
    background-color:#000; 
    padding:10px 20px;
}

.main-fieldset legend {
    font-size: 30px;
    margin-top: 20px;
    font-family: 'Patua One', sans-serif; 
}

.main-fieldset .main-fieldset-title{
    background-color:#000; 
    padding:10px 20px;
}

.main-fieldset .inner-fieldset{
    background: none;
    border: 0;
    margin-top: 20px;
}

.inner-fieldset .iframe-termos{
    width: 100%;
    height: 300px;
    margin: 20px 0;
    border: 0;
    border-radius: 4px;
}

.main-fieldset section{
    margin-top:20px;
}

.main-fieldset section h1{
    font-weight: bold;
}

.characterAbilities textarea{
    margin-top: 10px;
    width: 100%;
    height: 150px;
}


/* Botões */

.buttons{
    padding-left: 500px;
}

.cadastrar {
    /* border-radius: 15px; */
    border: 0;
    padding: 5px 10px;
    background-color: #efefef;
    transition: 0.6s;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.cadastrar:hover {
    padding: 8px 16px;
    background-color: rgb(17, 19, 121);
    color: rgb(18, 156, 18);
}

.limpar {
    /* border-radius: 15px; */
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    border: 0;
    padding: 5px 10px;
    background-color: #efefef;
    transition: 0.6s;
 
}

.limpar:hover {
    padding: 8px 16px;
    background-color: rgb(17, 19, 121);
    color: rgb(18, 156, 18);
}

footer{
    text-align: center;
    color: #fff;
    background-color: #000;
    padding: 20px;
}